

h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    
}

p{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    
}

.gamelist {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }


  h3 {
    font-family: 'Open Sans', sans-serif;
  }

  .info {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
  }

  